@page
@model Homework1.Pages.Task2Model
@{
    ViewData["Title"] = "Task2";
}
<h1>@ViewData["Title"]</h1>
<p>
    Створіть і запустіть базовий додаток ASP.NET Core, побудований 
    на основі ASP.NET Razor Pages. Залежно від випадкового 
    значення, на вебсторінці відобразіть будь-яку літеру з 
    англійського алфавіту.
</p>
<p>Результат: <span>@Model.RandomLetter</span></p>
