@page
@model Task1.Pages.Task1Model
@{
    ViewData["Title"] = "Task1";
    int dayOfYear = DateTime.Now.DayOfYear;
}
<h1>@ViewData["Title"]</h1>
<p>
    Створіть і запустіть базовий додаток ASP.NET Core, побудований
    на основі ASP.NET Razor Pages. На вебсторінці виведіть номер
    поточного дня року.
</p>
<p>Результат: <span>@dayOfYear</span></p>
