@page
@model Homework1.Pages.Task3Model
@{
    ViewData["Title"] = "Task3";
}
<h1>@ViewData["Title"]</h1>

<p>
        Створіть і запустіть базовий додаток ASP.NET Core, побудований 
    на основі ASP.NET Razor Pages. Додайте до базового додатка 
    нову сторінку. Сторінка має відображати інформацію про 
    ресторан. Доступ до сторінки за посиланням у верхньому меню 
    сторінки.
</p>

<div class="card p-lg-3">
    <p>@Model.restaurant.Name</p>
    <p>@Model.restaurant.TimeWork</p>
    <p>@Model.restaurant.Location</p>
</div>