@page
@model Homework1.Pages.Task4Model
@{
    ViewData["Title"] = "Task4";
}
<h1>@ViewData["Title"]</h1>

<p>
    Додайте до завдання 2 відображений список ресторанів. 
    Використовуйте можливості CSS для форматування списку
</p>

<ul>
    @foreach (var restaurant in Model.restaurants)
    {
        <li class="list-group-item card p-lg-3">
            <div>
                <h2>@restaurant.Name</h2>
                <p>Time of work: @restaurant.TimeWork</p>
                <p>Location: @restaurant.Location</p>
            </div>
        </li>
    }
</ul>